@model DepositBankingWebApp.Models.Deposit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStandardTermDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStandardTermDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInterestFixed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInterestFixed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverdraftPossability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverdraftPossability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditPossability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditPossability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyCompounding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyCompounding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminalCapitalization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminalCapitalization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidForClientsOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidForClientsOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestPaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestPaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnershipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnershipType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveAnnualInterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveAnnualInterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebLinkToOffer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebLinkToOffer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfNegotiatedInterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfNegotiatedInterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSumDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSumDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSumDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSumDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
