@model IEnumerable<DepositBankingWebApp.Models.Deposit>
@*@model DepositBankingWebApp.Models.Deposit*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsStandardTermDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestPaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveAnnualInterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSum)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsStandardTermDeposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestPaymentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveAnnualInterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinSum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
